---
title: WARFACE – Product Designer
layout: default
---
<style>
  footer .container-fluid {
    margin-top: 0px;
  }
</style>

<div class="container-fluid" style="padding-bottom: 0px; position: sticky; z-index: 0;">

  {% include about.html %}
  <p class="lead">asdf</p>

</div>

<div class="sheets">
  <div class="container-fluid" style="padding-bottom: 0px;">
    <div class="row color-block" style="background: #FDB813;">
      <div class="col">
        <h2 style="color: #f1f1ec;">Hero case study</h2>
        <h4>Science Museum</h4>
        <p class="lead">1 of 3</p>
      </div>
      <div class="col-6">
        2 of 3 (wider)
      </div>
      <div class="col">
        3 of 3
      </div>
    </div>
  </div>

  <div class="container-fluid" style="padding-bottom: 0px; padding-top: 0px; margin-top: 0px;">
    <div class="row color-block" style="background: #a1cc7b;">
      <div class="col">
        <h2 style="color: #6854a5;">Hero case study</h2>
        <h4>Science Museum</h4>
        <p class="lead">1 of 3</p>
      </div>
      <div class="col-6">
        2 of 3 (wider)
      </div>
      <div class="col">
        3 of 3
      </div>
    </div>
  </div>

  <div class="cards-lg" style="background: #f1f1ec;">
    {% include project-cards.html %}
  </div>

  <div class="container-fluid color-block" style="background: #325026; padding-bottom: 0px; margin-top: 0px;">
    <div class="row">
      <div class="col-6">
        <h2 style="color: $yellow;">In good company</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-3 col-md-2"><img src="{{ site.baseurl }}/assets/images/logos/tl-logo.svg" style="width: 100px" alt="Trainline"></div>
      <div class="col-3 col-md-2"><img src="{{ site.baseurl }}/assets/images/logos/sciencemuseum-logo.svg" style="width: 100px" alt="Science Museum"></div>
      <div class="col-3 col-md-2"><img src="{{ site.baseurl }}/assets/images/logos/justeat-logo.svg" style="width: 100px" alt="Just Eat"></div>
      <div class="col-3 col-md-2"><img src="{{ site.baseurl }}/assets/images/logos/cookpad-logo.svg" style="width: 100px" alt="Cookpad"></div>
      <div class="col-3 col-md-2"><img src="{{ site.baseurl }}/assets/images/logos/lloyds-logo.svg" style="width: 100px" alt="Lloyds Bank"></div>
      <div class="col-3 col-md-2">Tesco</div>
      <div class="col-3 col-md-2">Elsevier</div>
      <div class="col-3 col-md-2">Fifa</div>
      <div class="col-3 col-md-2">Homebase</div>
      <div class="col-3 col-md-2">Trussle</div>
      <div class="col-3 col-md-2">Home Office</div>
      <div class="col-3 col-md-2">RBS</div>
      <div class="col-3 col-md-2">Kellogg's</div>
      <div class="col-3 col-md-2">Experian</div>
    </div>
  </div>

</div>
