<div class="container-fluid color-block clients" style="background: #325026; margin-top: 0px;">
  <div class="row">
    <div class="col-6">
      <h2 style="color: $yellow;">In good company</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3 col-md-2"><a href="{{ site.baseurl }}/trainline"><img src="{{ site.baseurl }}/assets/images/logos/tl-logo.svg" alt="Trainline"></a></div>
    <div class="col-3 col-md-2"><a href="{{ site.baseurl }}/science-museum"><img src="{{ site.baseurl }}/assets/images/logos/sciencemuseum-logo.svg" alt="Science Museum"></a></div>
    <div class="col-3 col-md-2"><a href="{{ site.baseurl }}/just-eat"><img src="{{ site.baseurl }}/assets/images/logos/justeat-logo.svg" alt="Just Eat"></a></div>
    <div class="col-3 col-md-2"><a href="{{ site.baseurl }}/cookpad"><img src="{{ site.baseurl }}/assets/images/logos/cookpad-logo.svg" alt="Cookpad"></a></div>
    <div class="col-3 col-md-2"><img src="{{ site.baseurl }}/assets/images/logos/lloyds-logo.svg" style="width: 100%" alt="Lloyds Bank"></div>
    <div class="col-3 col-md-2"><img src="{{ site.baseurl }}/assets/images/logos/Tesco-logo.svg" alt="Tesco"></div>
    <div class="col-3 col-md-2"><img src="{{ site.baseurl }}/assets/images/logos/Elsevier-logo.svg" alt="Elsevier"></div>
    <div class="col-3 col-md-2"><img src="{{ site.baseurl }}/assets/images/logos/Fifa-logo.svg" alt="Fifa"></div>
    <div class="col-3 col-md-2"><img src="{{ site.baseurl }}/assets/images/logos/Homebase-logo.svg" alt="Homebase"></div>
    <div class="col-3 col-md-2"><img src="{{ site.baseurl }}/assets/images/logos/Trussle-logo.svg" alt="Trussle"></div>
    <div class="col-3 col-md-2"><img src="{{ site.baseurl }}/assets/images/logos/Gov-logo.png" alt="Gov uk"></div>
    <div class="col-3 col-md-2"><img src="{{ site.baseurl }}/assets/images/logos/RBS-logo.svg" alt="RBS"></div>
    <div class="col-3 col-md-2"><img src="{{ site.baseurl }}/assets/images/logos/Kelloggs-logo.svg" alt="Kelloggs">Kellogg's</div>
    <div class="col-3 col-md-2"><img src="{{ site.baseurl }}/assets/images/logos/experian-logo.svg" alt="Experian"></div>
  </div>
</div>
