<style>
.clients .col-4 {
  height: 80px;
  width: 160px;
  white-space: nowrap;
  text-align: center; margin: 1em 0;
}
.clients .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.clients img {
    vertical-align: middle;
    max-height: 40px;
    max-width: 160px;
}

</style>

<div class="container-fluid clients">
  <div class="row">
    <div class="col-6">
      <h2>In good company</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-md-3">
      <span class="helper trainline"></span>
        <a href="{{ site.baseurl }}/trainline-mobile-apps">
          <img src="{{ site.baseurl }}/assets/images/logos/tl-logo.svg" alt="Trainline"></a>
    </div>
    <div class="col-4 col-md-3">
      <a href="{{ site.baseurl }}/science-museum-lighting-control-app"><span class="helper science-museum"></span></a>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper"></span>
      <a href="{{ site.baseurl }}/just-eat">
        <img src="assets/images/logos/JustEat-logo.svg" style="width: 36%;" alt="Just Eat"></a>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper"></span>
      <a href="{{ site.baseurl }}/cookpad">
        <img src="assets/images/logos/Cookpad-logo.svg" style="width: 36%;" alt="Cookpad"></a>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper"></span>
      <a href="{{ site.baseurl }}/lloyds">
        <img src="{{ site.baseurl }}/assets/images/logos/lloyds-logo.svg" alt="Lloyds Bank"></a>
    </div>
    <div class="col-4 col-md-3">
      <a href="{{ site.baseurl }}/tesco-pet-insurance"><span class="helper tesco"></span></a>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper elsevier"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper"></span>
      <a href="{{ site.baseurl }}/fifa-world-cup-app">
        <img src="{{ site.baseurl }}/assets/images/logos/Fifa-logo.svg" alt="Fifa"></a>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper"></span>
      <img src="assets/images/logos/homebase-logo.svg" alt="Homebase">
    </div>
    <div class="col-4 col-md-3">
      <span class="helper"></span>
      <img src="{{ site.baseurl }}/assets/images/logos/trussle-logo.svg" alt="Trussle">
    </div>
    <div class="col-4 col-md-3">
      <span class="helper"></span>
      <img src="{{ site.baseurl }}/assets/images/logos/gov-logo.png" alt="Gov uk">
    </div>
    <div class="col-4 col-md-3">
      <span class="helper"></span>
      <img src="{{ site.baseurl }}/assets/images/logos/RBS-logo.svg" alt="RBS">
    </div>
    <div class="col-4 col-md-3">
      <span class="helper"></span>
      <img src="{{ site.baseurl }}/assets/images/logos/kelloggs-logo.svg" alt="Kelloggs">
    </div>
    <div class="col-4 col-md-3">
      <span class="helper"></span>
      <img src="{{ site.baseurl }}/assets/images/logos/experian-logo.svg" alt="Experian">
    </div>
  </div>
</div>
