<footer class="contact">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-8">
        <h2><a href="{{ site.baseurl }}/contact">Let's work together</a></h2>
        <p><a href="mailto:#">rob@warface.co.uk</a></p>

        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://www.instagram.com/warface/" target="_blank"><i class="fa fa-instagram"></i> <span class="d-none d-md-inline">Instagram</span></a></li>
          <li class="list-inline-item"><a href="https://medium.com/@warface" target="_blank"><i class="fab fa-medium-m"></i> <span class="d-none d-md-inline">Medium</span></a></li>
          <li class="list-inline-item"><a href="https://dribbble.com/warface" target="_blank"><i class="fa fa-dribbble"></i>  <span class="d-none d-md-inline">Dribbble</span></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/robcleaton-mobile-product-designer" target="_blank"><i class="fa fa-linkedin"></i>  <span class="d-none d-md-inline">LinkedIn</span></a></li>
        </ul>
      </div>
    </div>

  </div>
</footer>
