<footer>
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-8">
        <h2>Let's work together</h2>
        <p><a href="mailto:#">rob@warface.co.uk</a></p>

        <ul class="list-inline">
          <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
          <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-medium-m"></i> Medium</a></li>
          <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-dribbble"></i> Dribbble</a></li>
          <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
        </ul>
      </div>
    </div>

  </div>
</footer>
