
<div class="scrollmenu">

  <div class="card trainline">
    <img src="{{ site.baseurl }}/assets/images/projects/trainline/1-CurrentDepartureBoards.png" class="img-fluid card-img-top" style="background: #2dca8a;" alt="Trainline">
    <div class="card-body">
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/trainline-mobile-apps"><img src="{{ site.baseurl }}/assets/images/logos/tl-logo.svg" style="width: 30%;" alt="Trainline"></a>
      <h6>The Customer champion for train travel</h6>
      <p class="card-text">One of the biggest go-to train ticket services in UK and Europe. Leading a suite of industry defining mobile UI/UX across their apps.</p>
    </div>
  </div>

  <div class="card science-museum">
    <img src="https://images.squarespace-cdn.com/content/v1/5667ec30a2bab88225a5f596/1604589630970-UMGLRMX0ZKSHFPAJYDCS/ke17ZwdGBToddI8pDm48kBKndT34voPp-zIg9EF2_zN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0luj0xCD0oh5KMc0gpox0u9AvQGRL91ct2-0Cx9DvpCNHwJs0XvX6SbEueLwtQgHyw/Illuminate+London+Science+Museum+Halo.JPG?format=1000w" class="card-img-top" style="background: #000000;" alt="Science Museum">
    <div class="card-body">
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/science-museum-lighting-control-app"><img src="{{ site.baseurl }}/assets/images/logos/ScienceMuseum-logo.svg" style="width: 38%;" alt="Science Museum"></a>
      <h6>Some quick example text to build on</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card oatbook">
    <img src="{{ site.baseurl }}/assets/images/projects/oatbook/BloodTesting.png" class="card-img-top" alt="OATBook">
    <div class="card-body">
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/oatbook-medical-app">OATBook</a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card cookpad">
    <img src="https://media.giphy.com/media/13CHUguYp6mhWw/giphy.gif" class="card-img-top" style="background: #2dca8a;" alt="Cookpad">
    <div class="card-body">
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/cookpad"><img src="{{ site.baseurl }}/assets/images/logos/Cookpad-logo.svg" style="width: 36%;" alt="Cookpad"></a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card just-eat">
    <img src="https://media.giphy.com/media/3OvrejVmXO04XWdxUw/giphy.gif" class="card-img-top" alt="Just Eat">
    <div class="card-body">
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/just-eat"><img src="{{ site.baseurl }}/assets/images/logos/JustEat-logo.svg" style="width: 36%;" alt="Just Eat"></a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card reclining-worm">
    <img src="http://localhost:4000/warface/assets/images/projects/recliningworm/oakland-museum-california.jpg" class="card-img-top" alt="Recliningworm">
    <div class="card-body">
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/reclining-worm"><img src="{{ site.baseurl }}/assets/images/logos/RecliningWorm-logo.svg" style="width: 30%;" alt="Reclining Worm"></a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card artimbarc">
    <img src="https://images1.the-dots.com/1978777/frieze-explore.png?p=projectImageFullJpg" class="card-img-top" alt="ARTimbarc">
    <div class="card-body">
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/artimbarc">ARTimbarc</a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card fifa">
    <img src="{{ site.baseurl }}/assets/images/projects/fifa/2.png" class="card-img-top" alt="Fifa">
    <div class="card-body">
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/fifa-world-cup-app">FIFA</a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card helicon-health">
    <img src="https://images1.the-dots.com/1437434/20170824-113438.jpeg?p=projectImageFullJpg" class="card-img-top" alt="Helicon Health">
    <div class="card-body">
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/helicon-health-medical-app">Helicon Health</a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card lloyds">
    <img src="https://media.giphy.com/media/vauaZ0QsPoS0U/giphy.gif" class="card-img-top" alt="Lloyds Bank">
    <div class="card-body">
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/lloyds-banking-app"><img src="{{ site.baseurl }}/assets/images/logos/lloyds-logo.svg" style="width: 30%;" alt="Lloyds Banking app"></a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card walkie-talkies">
    <img src="https://media.giphy.com/media/vauaZ0QsPoS0U/giphy.gif" class="card-img-top" alt="Walkie Talkies">
    <div class="card-body">
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/walkie-talkies">Walkie Talkies</a>
      <h6>Some quick example text to build on the card</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card see-all">
    <div class="card-body">
      <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/projects"><i class="fas fa-arrow-right fa-3x"></i></a>
    </div>
  </div>

</div>
