html, body {
  background: $base-clay;
}
.container-fluid {
  margin-top: 92px;
  padding-top: 10px;
}
a {
  color: #2dca8a;
}
.navbar-light .navbar-nav .nav-link {
  color: $yellow;
  font-size: 28px;
  font-family: 'SerifGothic';
  text-transform: uppercase;
}
.nav-link:hover {
  color: $khaki-green !important;
}
.navbar-light .navbar-toggler {
  border: none;
}
.navbar-toggler-icon {
  width: 2rem;
  height: 2rem;
  border: 0;
}
.navbar-toggler:focus, .navbar-toggler:active  {
  border: 5px solid black;
  border: 0;
  outline: none;
  opacity: 0.4;
}
.navbar-light .navbar-toggler-icon {
  background: url('../images/menu.svg') 0 0 no-repeat;
}

footer {
  background: $yellow;
  width: 100%;
  color: $white;
  height: 400px;
  z-index: 10;
  position: relative;


  h2 {
    color: $white;
  }
  .container-fluid {
    padding-top: 20px;
  }
  a {
    font-weight: 400;
    color: $white;
  }
  a:hover {
    color: black;
  }
}


.btn-primary {
  background: black;
  border: none;
  font-family: 'SerifGothic';
  font-size: 1.4rem;
  text-transform: uppercase;
}
.btn-primary:hover {
  background: $yellow;
}
.btn-primary:active, .btn-primary:focus {
  background: pink !important;
  border: none !important;
  box-shadow: none !important;
}
::selection {
  background: red;
  color: $white;
}

.carousel-item img {
  height: 80vh;
  object-fit: cover;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
}
.clients img {
  width: 100%;
}


.color-block {
  height: 68vh;
  background: $pink-1;
  color: $white;
  padding-top: 10px;
}
.hero {
  z-index: 0;
}
div.sheets {
  z-index: 10;
  position: relative;
}
