html, body {
  height: 100%;
  width: 100%;
  background-color: #FDB813; /*Yellow*/
  background-color: #f1f1ec; /*Grey*/
}
header {
  padding-bottom: 40px;
}
.navbar-light .navbar-nav .nav-link {
  color: red;
  font-size: 28px;
  font-family: 'SerifGothic';
  text-transform: uppercase;
}

.navbar-light .navbar-toggler {
  border: none;
}
.navbar-toggler-icon {
  width: 2rem;
  height: 2rem;
  border: 0;
}
.navbar-toggler:focus, .navbar-toggler:active  {
  border: 5px solid black;
  border: 0;
  outline: none;
  opacity: 0.4;
}
.navbar-light .navbar-toggler-icon {
  background: url('../images/menu.svg') 0 0 no-repeat;
}

footer {
  background: #272727;
  background: #FDB813;
  width: 100%;
  color: white;
  height: 400px;

  h2 {
    color: white;
  }
  .container-fluid {
    padding-top: 20px;
  }
  a {
    font-weight: 400;
    color: white;
  }
  a:hover {
    color: black;
  }
}

.container-fluid {
  margin-top: 54px;
  padding-bottom: 100px;
  padding-top: 10px;
}

.color-block {
  height: 80vh;
  background: pink;
  color: white;
}
.btn-primary {
  background: black;
  border: none;
  font-family: 'SerifGothic';
  font-size: 1.4rem;
  text-transform: uppercase;
}
.btn-primary:hover {
  background: #FDB813;
}
.btn-primary:active, .btn-primary:focus {
  background: pink !important;
  border: none !important;
  box-shadow: none !important;
}
::selection {
  background: red;
  color: white;
}
