.sheets {
  background: white;
  padding: 40px 0px;
}
.disciplines {
  text-align: center;
}
.disciplines li {
  padding: 4px;
  font-size: 14px;
  font-family: inherit;
}

.hero h2 {
  padding-top: 0px;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: -0.6px;
}
h4 {
  color: black;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: -0.6px;
}
h5 {
  color: black;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: -0.6px;
}
