// @media (prefers-color-scheme: dark) {

  html, body, .sheets, footer {
    background: black;
    color: $dark-clay;
  }
  a {
    color: #F0E8DD;
  }
  a:hover {
    color: $yellow;
  }
  .navbar {
    background: #272727 !important;
    color: white;
  }
  .navbar-light .navbar-toggler-icon {
    background: url('../images/menu-white.svg') 0 0 no-repeat;
  }
  .navbar-light .navbar-nav .nav-link {
    color: $dark-clay;
  }
  div.scrollmenu .card {
    background: #272727;
  }
  .cards-xs div.scrollmenu .card {
    background: pink;
  }

  a.nav-link:hover {
    color: $yellow !important;
  }
  a.navbar-brand {
    background: url("../images/logos/warface-logo-white.svg")0 0 no-repeat;
  }
  h2 {
    color: #44423e;
  }
  p {
    color: $dark-clay;
  }

  ::selection {
    background: $yellow;
  }
  div.scrollmenu .card a, div.scrollmenu .card p, h6 {
    color: $dark-clay;
  }
  .color-block {
    color: black;
  }
  .form-control {
    background-color: #272727;
    color: $white;
    border: 1px solid #44423e;
  }
  .form-control:focus {
    background: $dark-clay;
    border: 1px solid $white;
    color: $white;
  }
  .btn-primary {
    background: $white;
    color: black;
  }

  .trainline-logo {
    background: url('../images/logos/tl-white-logo.svg') left center no-repeat;
    background-size: 28%;
    width: 100%;
    height: 40px;
    display: block;
  }
  .sciencemuseum-logo {
    background: url('../images/logos/sciencemuseum-white-logo.svg') left center no-repeat;
    background-size: 28%;
    width: 100%;
    height: 40px;
    display: block;
  }
  .cookpad-logo {
    background: url('../images/logos/cookpad-white-logo.svg') left center no-repeat;
    background-size: 28%;
    width: 100%;
    height: 40px;
    display: block;
  }
  .justeat-logo {
    background: url('../images/logos/justeat-white-logo.svg') left center no-repeat;
    background-size: 28%;
    width: 100%;
    height: 40px;
    display: block;
  }
  .recliningworm-logo {
    background: url('../images/logos/recliningworm-white-logo.svg') left center no-repeat;
    background-size: 28%;
    width: 100%;
    height: 40px;
    display: block;
  }
  .trainline-logo {
    background: url('../images/logos/tl-white-logo.svg') left center no-repeat;
    background-size: 28%;
    width: 100%;
    height: 40px;
    display: block;
  }
  .sciencemuseum-logo {
    background: url('../images/logos/sciencemuseum-white-logo.svg') left center no-repeat;
    background-size: 22%;
    width: 100%;
    height: 40px;
    display: block;
  }
  .cookpad-logo {
    background: url('../images/logos/cookpad-white-logo.svg') left center no-repeat;
    background-size: 28%;
    width: 100%;
    height: 40px;
    display: block;
  }
  .justeat-logo {
    background: url('../images/logos/justeat-white-logo.svg') left center no-repeat;
    background-size: 28%;
    width: 100%;
    height: 40px;
    display: block;
  }
  .recliningworm-logo {
    background: url('../images/logos/recliningworm-white-logo.svg') left center no-repeat;
    background-size: 28%;
    width: 100%;
    height: 40px;
    display: block;
  }
  .fifa-logo {
    background: url('../images/logos/fifa-white-logo.svg') left center no-repeat;
    background-size: 20%;
    width: 100%;
    height: 40px;
    display: block;
  }
  .lloyds-logo {
    background: url('../images/logos/lloyds-white-logo.svg') left center no-repeat;
    background-size: 20%;
    width: 100%;
    height: 40px;
    display: block;
  }
  .tesco-logo {
    background: url('../images/logos/tesco-white-logo.svg') left center no-repeat;
    background-size: 20%;
    width: 100%;
    height: 40px;
    display: block;
  }

  .clients {
    .trainline {
      background: url('../images/logos/tl-white-logo.svg')center center no-repeat;
      width: 100%;
      background-size: 60%;
    }
    .science-museum {
      background: url('../images/logos/sciencemuseum-white-logo.svg')center center no-repeat;
      width: 100%;
      background-size: 60%;
    }
    .justeat {
      background: url('../images/logos/justeat-white-logo.svg')center center no-repeat;
      width: 100%;
      background-size: 80%;
    }
    .cookpad {
      background: url('../images/logos/cookpad-white-logo.svg')center center no-repeat;
      width: 100%;
      background-size: 80%;
    }
    .lloyds {
      background: url('../images/logos/lloyds-white-logo.svg')center center no-repeat;
      width: 100%;
      background-size: 50%;
    }
    .tesco {
      background: url('../images/logos/tesco-white-logo.svg')center center no-repeat;
      width: 100%;
      background-size: 60%;
    }
    .elsevier {
      background: url('../images/logos/elsevier-white-logo.svg')center center no-repeat;
      width: 100%;
      background-size: 30%;
    }
    .fifa {
      background: url('../images/logos/fifa-white-logo.svg')center center no-repeat;
      width: 100%;
      background-size: 60%;
    }
    .homebase {
      background: url('../images/logos/homebase-white-logo.svg')center center no-repeat;
      width: 100%;
      background-size: 80%;
    }
    .rbs {
      background: url('../images/logos/rbs-white-logo.svg')center center no-repeat;
      width: 100%;
      background-size: 70%;
    }
    .experian {
      background: url('../images/logos/experian-white-logo.svg')center center no-repeat;
      width: 100%;
      background-size: 70%;
    }
  }

  .trainline {
      h3 {
        color: white;
    }
    a {
      color: white;
    }
  }

  footer {
    background: $black;
    a {
      color: $dark-clay;
    }
    h2 a {
      color: #3a3836;
    }
  }
// }
