// @media (prefers-color-scheme: dark) {

  html, body, .sheets, footer {
    background: black;
    color: $dark-clay;
  }
  a {
    color: $base-clay;
  }
  a:hover {
    color: $yellow;
  }
  .bg-light, div.scrollmenu .card {
    background: #272727 !important;
    color: white;
  }
  .navbar-light .navbar-nav .nav-link {
    color: $dark-clay;
  }
  a.nav-link:hover {
    color: $yellow !important;
  }
  a.navbar-brand {
    background: url("../images/logos/warface-logo-white.svg")0 0 no-repeat;
  }
  h2 {
    color: #44423e;
  }
  p {
    color: $dark-clay;
  }

  ::selection {
    background: $yellow;
  }
  div.scrollmenu .card a, div.scrollmenu .card p, h6 {
    color: $dark-clay;
  }
  .color-block {
    color: black;
  }
  .form-control {
    background-color: #272727;
    color: $white;
    border: 1px solid #44423e;
  }
  .form-control:focus {
    background: $dark-clay;
    border: 1px solid $white;
    color: $white;
  }
  .btn-primary {
    background: $white;
    color: black;
  }

  .clients {
    .trainline {
      background: blue url('../images/logos/tl-white-logo.svg')0 0 no-repeat;
      width: 100%;
      background-size: 100%;
    }
    .science-museum {
      background: blue url('../images/logos/sciencemuseum-white-logo.svg')0 0 no-repeat;
      width: 100%;
      background-size: 100%;
    }
    .just-eat {
    }
    .cookpad {
    }
    .lloyds {
    }
    .tesco {
      background: blue url('../images/logos/tesco-white-logo.svg')0 0 no-repeat;
      width: 100%;
      background-size: 100%;
    }
    .elsevier {
      background: blue url('../images/logos/elsevier-white-logo.svg')0 0 no-repeat;
      width: 20%;
      background-size: 100%;
    }
  }
  footer {
    background: $black;
    a {
      color: $dark-clay;
    }
    h2 a {
      color: #3a3836;
    }
  }
// }
