
@font-face {
  font-family: 'SerifGothic';
  src: url(../fonts/Serif-Gothic/itc-serif-gothic-black.otf);
}
/*
@font-face {
  font-family: 'Cinderblock-100';
  src: url(../fonts/Cinderblock/Cinderblock-100.otf);
}
*/

h1 {
  font-family: 'SerifGothic';
  text-transform: uppercase;
}

h2 {
  font-size: 6rem;
  font-family: 'SerifGothic';
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  line-height: 4.6rem;
  color: #FDB813;
  word-spacing: -0.8rem;
}

h3, .card-body h5  {
  font-family: 'SerifGothic';
  font-size: 3.2rem;
  line-height: 2.6rem;
  text-transform: uppercase;
}
body, p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
