---
---

@charset "utf-8";

@import "main";
/*
@import "typography";
@import "scroll";
*/

@font-face {
  font-family: SerifGothic;
  src: url(itc-serif-gothic-black.otf);
}

footer h1 {
  font-family: SerifGothic;
  text-transform: uppercase !important;
}
