---
---
@charset "utf-8";

@import
        "base",
        "colours"
;

@font-face {
  font-family: 'SerifGothic';
  src: url(../itc-serif-gothic-black.otf);
}

footer h1 {
  font-family: 'SerifGothic';
  text-transform: uppercase !important;
}


// Mobile
@media only screen and (max-width: 991px) {
  body {
    background-color: purple;
  }
}

// Tablet
@media only screen and (max-width: 600px) {
  body {
    background-color: #fcd173;
  }
}
